<div class="containerBox">

    <div class="left_part">
        <div class="logo_container"></div>
        <!-- 导航内容主体 -->
        <div class="nav_container">

            <h4 class="nav_title">Main</h4>

            <ul class="first_ul">
                <!-- 一个一级菜单 -->
                <li class="first_li" [class.active]="showSecond[i]" *ngFor="let menu of menus;let i=index">
                    <div class="first_title" (click)="showList(i,menu.link)">
                        <span class="first_icon glyphicon glyphicon-tag"></span>
                        <p class="first_name">{{menu.name}}</p>
                    </div>

                    <ul class="second_ul" *ngIf="menu.children && showSecond[i]" [@secondListTrigger]>
                        <a class="second_li" routerLink="{{'/home' + item.link}}" routerLinkActive="active"
                             *ngFor="let item of menu.children">{{item.name}}</a>
                    </ul>
                </li>
            </ul>

        </div>
    </div>

    <div class="right_part">
        <div class="head_container">
            <h1>CMS后台管理系统</h1>
            <div class="user">user</div>
        </div>
        <div class="content_container">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>
