*{
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    font-family: "微软雅黑";
}
ul{
    list-style: none;
}

.hidden{
    display: none;
}
.opacity0{
    opacity: 0;
}


//面包屑导航
.page_location{
    height: 25px;
    line-height: 15px;
    padding: 10px 0 0 10px;

    nz-breadcrumb{
        display: inline;
    }

    .page_location_title{
        margin-right: 10px;
    }
}